# Copy to .env.terraform and fill in the 1Password op:// URIs for your vault.
# Run terraform with: op run --env-file=.env.terraform -- terraform <command>
#
# To find the correct URI: op item get "Proxmox" --format json
# or use: op://VaultName/ItemTitle/FieldName

TF_VAR_proxmox_api_token=op://VAULT/PASSWORD_NAME/api_token
TF_VAR_ssh_public_key=op://VAULT/PASSWORD_NAME/public key
AWS_ACCESS_KEY_ID=op://VAULT/PASSWORD_NAME/key_id
AWS_SECRET_ACCESS_KEY=op://VAULT/PASSWORD_NAME/secret_key
